@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --ff-primary: Roboto;

  --clr-primary: #1f2937;
  --clr-secondary: #f9faf8;
  --clr-tertiary: #e5e7eb;
  --clr-quartenary: #3882f6;

  
  --fs-small: 18px;
  --fs-medium: 24px;
  --fs-large: 36px;
  --fs-xlarge: 48px;

  --fw-light: 300;
  --fw-bolder: 900;

  --bg-primary: var(--clr-primary);
  --bg-secondary: var(--clr-tertiary);
  --bg-btn: var(--clr-quartenary);

  --clr-txt-primary: var(--clr-secondary);
  --clr-txt-secondary: var(--clr-tertiary)
  --clr-txt-tertiary: var(--clr-primary);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  /* line-height: 1.5; */
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  /* text-wrap: pretty; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* text-wrap: balance; */
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Classes */

.center {
  margin: 0 auto;
  max-width: 1000px;
}

/* General styles */

* {
  font-family: var(--ff-primary);
  color: white;
}

li {
  list-style-type: none;
}

.header,
footer {
  display: flex;
  background-color: var(--bg-primary);
}

.btn-cta {
  background-color: var(--bg-btn);
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: .25rem 1.5rem;
}

/*  Header  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0;
}

.navbar > ul {
  display: flex;
  gap: 1.5rem;
}

.logo {
  font-size: var(--fs-medium);
  color: var(--clr-txt-primary);
}

/* Hero section */

#hero {
  display: flex;
  gap: 4.5rem;
  margin: 6rem 0;
}

#hero div {
  flex: 1;
}

.hero-content h1 {
  font-size: var(--fs-xlarge);
}

.hero-content p {
  font-size: var(--fs-small);
  margin-bottom: .5rem;
}

